/* Extra for the CKEditor CodeMirror Plugin */

.CodeMirror {
	font: 13px/1.4em monospace;
	text-align: left;
}

.CodeMirror .activeline {
	background: #e8f2ff;
}

.CodeMirror .CodeMirror-foldmarker {
	color: blue;
	-ms-text-shadow: #b9f 1px 1px 2px, #b9f -1px -1px 2px, #b9f 1px -1px 2px, #b9f -1px 1px 2px;
	-webkit-text-shadow: #b9f 1px 1px 2px, #b9f -1px -1px 2px, #b9f 1px -1px 2px, #b9f -1px 1px 2px;
	text-shadow: #b9f 1px 1px 2px, #b9f -1px -1px 2px, #b9f 1px -1px 2px, #b9f -1px 1px 2px;
	font-family: arial;
	line-height: .3;
	cursor: pointer;
}

.CodeMirror-matchingtag {
	background: #ff9600;
	background: rgba(255, 150, 0, 0.3);
}

/* Source Dialog Buttons */
.searchCodeButton span,
.replaceCodeButton span,
.autoFormat span,
.CommentSelectedRange span,
.UncommentSelectedRange span,
.codemirrorAbout span {
	width: 16px;
	height: 16px;
	margin-left: 6px;
}

.codemirrorAbout {
	margin-top: 0 !important
}

.searchCodeButton span {
	background: url("../icons/find.svg") no-repeat;
}
.replaceCodeButton span {
    background: url("../icons/replace.svg") no-repeat;
}
.autoFormat span {
	background: url("../icons/autoformat.svg") no-repeat;
}
.CommentSelectedRange span {
	background: url("../icons/commentselectedrange.svg") no-repeat;
}
.UncommentSelectedRange span {
	background: url("../icons/uncommentselectedrange.svg") no-repeat;
}
.codemirrorAbout span {
    background: url("../icons/codemirror.svg") no-repeat;
}

/* Fixes for the sourceDialog */
.cke_reset_all .CodeMirror-scroll * {
	word-wrap: break-word;
	white-space: pre-wrap;
	word-break: normal;
}

.cke_reset_all .cm-s-cobalt *,
.cke_reset_all .cm-s-erlang-dark *,
.cke_reset_all .cm-s-lesser-dark *,
.cke_reset_all .cm-s-monokai *,
.cke_reset_all .cm-s-night *,
.cke_reset_all .cm-s-rubyblue *,
.cke_reset_all .cm-s-twilight *,
.cke_reset_all .cm-s-xq-dark *,
.cke_reset_all .cm-s-base16-dark *,
.cke_reset_all .cm-s-3024-night *,
.cke_reset_all .cm-s-the-matrix *,
.cke_reset_all .cm-s-paraiso-dark *,
.cke_reset_all .cm-s-paraiso-light * {
	color: inherit;
	font: inherit;
}

/* Fixes for themes */
.cm-s-cobalt .CodeMirror-selected {
	background: #b36539 !important;
}
.cm-s-erlang-dark .CodeMirror-selected {
	background: #b36539 !important;
}
.cm-s-lesser-dark .CodeMirror-selected {
	background: #45443B !important;
}
.cm-s-monokai .CodeMirror-selected {
	background: #49483E !important;
}
.cm-s-night .CodeMirror-selected {
	background: #447 !important;
}
.cm-s-rubyblue .CodeMirror-selected {
	background: #38566F !important;
}
.cm-s-twilight .CodeMirror-selected {
	background: #323232 !important;
}
.cm-s-xq-dark .CodeMirror-selected {
	background: #a8f !important;
}
.cm-s-the-matrix .CodeMirror-selected {
	background: #494949 !important;
}

.cm-s-mbo .CodeMirror-selected {
	background: #716C62 !important;
}

.cm-s-blackboard .activeline,
.cm-s-cobalt .activeline,
.cm-s-erlang-dark .activeline,
.cm-s-lesser-dark .activeline,
.cm-s-monokai .activeline,
.cm-s-night .activeline,
.cm-s-rubyblue .activeline,
.cm-s-vibrant-ink .activeline,
.cm-s-xq-dark .activeline,
.cm-s-base16-dark .activeline,
.cm-s-3024-night .activeline,
.cm-s-paraiso-light .activeline,
.cm-s-paraiso-dark .activeline,
.cm-s-pastel-on-dark .activeline {
	background: #757575;
}

.cm-s-pastel-on-dark .activeline {
	background: #404040;
}

.cm-s-mbo .activeline {
	background: #716C62;
}

.cm-s-twilight .activeline {
	background: #494949;
}

.cm-s-the-matrix .activeline {
	background: #060;
}

.CodeMirror-focused .cm-matchhighlight {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
	background-position: bottom;
	background-repeat: repeat-x;
}

.CodeMirror-hints {
	position: absolute;
	z-index: 10;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 2px;
	-webkit-box-shadow: 2px 3px 5px #000000;
	-ms-box-shadow: 2px 3px 5px #000000;
	box-shadow: 2px 3px 5px #000000;
	border-radius: 3px;
	border: 1px solid silver;
	background: white;
	font-size: 90%;
	font-family: monospace;
	max-height: 20em;
	overflow-y: auto;
}

.CodeMirror-hint {
	margin: 0;
	padding: 0 4px;
	border-radius: 2px;
	max-width: 19em;
	overflow: hidden;
	white-space: pre;
	color: black;
	cursor: pointer;
}

.CodeMirror-hint-active {
	background: #08f;
	color: white;
}

.cm-trailingspace {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
	background-position: bottom left;
	background-repeat: repeat-x;
}